<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
<div class="p-grid">
  <div class="p-col-12">
    <app-table2 [cols]="companyColumns" [values]="companies" (selectedDataEvent)="selectedDataMethod($event)" (selectedClient)="selectedValues($event)"></app-table2>
  </div>
  <div class="p-col-12">
    <button pButton type="button" label="Dodaj kompaniju" class="ui-button-info" (click)="open(newcompany)"></button>
  </div>
</div>

<ng-template #newcompany let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Dodaj firmu</h5>
    <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="companyName" class="col-sm-4 col-form-label">Naziv firme</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="companyName" id="companyName" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
            <div *ngIf="f.companyName.errors.required">Ime kompanije je obavezno</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="pdvNumber" class="col-sm-4 col-form-label">Pdv broj</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="pdvNumber" id="pdvNumber" minlength="12" maxlength="12" required [ngClass]="{ 'is-invalid': submitted && f.pdvNumber.errors }">
          <div *ngIf="submitted && f.pdvNumber.errors" class="invalid-feedback">
            <div *ngIf="f.pdvNumber.errors.required">Pdv broj polje je obavezno</div>
            <div *ngIf="f.pdvNumber.errors?.minlength">Pdv broj mora imati 12 karaktera</div>
            <div *ngIf="f.pdvNumber.errors?.maxlength">Pdv broj mora imati 12 karaktera</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Adresa</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="address" id="address" maxlength="100">
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors?.maxlength">Adresa moze imati maximalno 100 karaktera</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>

<p-dialog header="Kompanija" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="700">
  <form #companyForm="ngForm" (ngSubmit)="onChangeSubmit(companyForm)">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">Ime</label>
        </div>
        <div class="ui-g-8">
          <input id="name" name="name" [(ngModel)]="company.name" #name="ngModel" required style="width: 100%;" [ngClass]="{ 'is-invalid': name.invalid }" />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors.required">
              Ime kompanije je obavezno
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="pdvNumber">Pdv broj</label>
        </div>
        <div class="ui-g-8">
          <input id="pdvNumber" name="pdvNumber" required [(ngModel)]="company.pdvNumber" #pdvNumber="ngModel" maxlength="12" minlength="12" style="width: 100%;" [ngClass]="{ 'is-invalid': pdvNumber.invalid }" />
          <div *ngIf="pdvNumber.invalid && (pdvNumber.dirty || pdvNumber.touched)" class="invalid-feedback">
            <div *ngIf="pdvNumber.errors.required">
              Pdv polje je obavezno
            </div>
            <div *ngIf="pdvNumber.errors?.minlength">
              Pdv broj mora imati 12 karaktera
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="delete()">Izbrisi</button>
      <button type="submit" class="btn btn-primary">Izmijeni</button>
    </div>
</form>
</p-dialog>
